.planet-description {
    font-style: italic;
    margin-bottom: 20px;
}
.planet-info {
    font-weight: bold;
}
.fun-facts {
    list-style-type: disc;
    margin-left: 20px;
}

#sidebar {
    background-color: #333;
    color: #fff;
    width: 200px;
    padding: 20px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar a {
    color: #fff;
    text-decoration: none;
}

#sidebar a:hover {
    text-decoration: underline;
}
