.planet-description {
    font-style: italic;
    margin-bottom: 20px;
}
.planet-info {
    font-weight: bold;
}
.fun-facts {
    list-style-type: disc;
    margin-left: 20px;
    color: white
}

/* CSS for the sidebar */
#sidebar {
    background-color: pink;
    color: rgb(255, 255, 255);
    padding: 20px;
}

/* Style the ul element as a horizontal list */
#sidebar ul {
    list-style-type: none;
    display: flex; /* Display the list items horizontally */
    padding: 0;
    margin: 0;
}

/* Style the list items */
#sidebar ul li {
    margin-right: 20px; /* Add some spacing between list items */
}

/* Style the anchor links */
#sidebar ul li a {
    text-decoration: none;
    color: darkorchid;
    font-weight: bold;
}
/*telling it to go in the middle*/
#sidebar-container {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    color: white;
}

p
{
    color: white;
}
