.planet-description {
    font-style: italic;
    margin-bottom: 20px;
}
.planet-info {
    font-weight: bold;
}
.fun-facts {
    list-style-type: disc;
    margin-left: 20px;
}
body {
    background-color: black;
    color: white;
    font-family: "Lexan Era", sans-serif;
}


/* CSS for the sidebar */
#sidebar {
    background-color: black;
    color: pink;
    padding: 20px;
}

/* Style the ul element as a horizontal list */
#sidebar ul {
    list-style-type: none;
    display: flex; /* Display the list items horizontally */
    padding: 0;
    margin: 0;
}

/* Style the list items */
#sidebar ul li {
    margin-right: 20px; /* Add some spacing between list items */
}

/* Style the anchor links */
#sidebar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
/*telling it to go in the middle*/
#sidebar-container {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}
#sidebar-container ul {
    list-style: none;
    padding: 0;
}

#sidebar-container ul li {
    margin: 10px 0;
}

#sidebar-container ul li a {
    display: block;
    background-color: transparent;
    border: 2px solid white ; /* White outline */
    border-radius: 10px; /* Rounded corners */
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

#sidebar-container ul li a:hover {
    background-color: white;
    color: black; /* Change text color on hover */
}